<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="icon" href="favicon.ico">
  <script src="/js/app-page.js"></script>
</head>
<body>
  <div>
    <div class="columns is-multiline">
    </div>
    <nav class="navbar py-4">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <!-- <img class="image" src="../static/photos/" alt="" width="96px"> -->
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start"><a class="navbar-item" href="#"> Home </a></div>
          <!-- <div class="navbar-item">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="search" placeholder="Search" aria-label="Search">
              </div>
              <div class="control">
                <button class="button" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                    style="width: 24px;height: 24px">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="mb-6 pb-3 columns is-multiline">
          <div class="column is-12 is-6-desktop mx-auto has-text-centered">
            <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold"> Astronomy Education </h2>
            <p class="subtitle has-text-grey mb-5"> Unfortunately, many observation schools do not teach "Astronomy" lessons and this lesson is replaced by Physics. This chance has already arisen again in the field of the Galactic Society. Online classes will be organized for members to professionally order the science of "Astronomy" with Astrophysicists of the Society. Classes will be held once a week, on Saturdays or Sundays. The lesson lasts 1-1.5 hours. The educational program is designed in 3 languages ​​(Azerbaijani, English, Russian) and members have the opportunity to study in 3 languages. The duration of the program is 1 year, and those who successfully pass the exam organized after 1 year will be awarded with a Diploma. All members can apply to join the classes. But places are limited. Join us by registering as soon as possible and don't miss this chance! </p>
            <div class="buttons is-centered">
              <a class="mr-3" href="#">
                <img src="../images/app-page/images/buttons/app-store.svg" alt=""></a>
              <a href="#">
                <img src="../images/app-page/images/buttons/google-play.svg" alt=""></a>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section" style="background-color: black;">
      <div class="container">
        <div class="is-vcentered columns is-multiline">
          <div class="column is-6 is-5-desktop mb-4">
            <span class="has-text-white"> The Galactic Society Astronomy Education </span>
            <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold"> Register For Astronomy Education </h2>
            <p class="has-text-white"> We are at your service with professional teachers ! </p>
          </div>
          <div class="column is-5 ml-auto">
            <div class="mx-auto box p-6 has-background-light has-text-centered">
              <h4 class="is-size-5 mb-2 has-text-weight-bold"> Register </h4>
              <p class="has-text-grey-dark mb-4"> Our teachers will contact you within 24 hours after registration </p>
                <form action="/AstroEducation" method="post">
                <input class="input mb-3" type="name" name="name" placeholder=" Name ">
                <input class="input mb-3" type="name" name="surname" placeholder=" Surname ">
                <input class="input mb-3" type="number" name="phone" placeholder=" Phone Number ">
                <input class="input mb-3" type="email" name="email" placeholder=" E-Mail ">

                
                <button class="button is-primary is-fullwidth" type="submit" style="margin-bottom: 0 !important; margin-top: 15px !important;"> Send 🚀 </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>

</html>