<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="icon" href="favicon.ico">
  <script src="/js/app-page.js"></script>
</head>
<body>
  <div>
    <div class="columns is-multiline">
    </div>
    <nav class="navbar py-4">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <!-- <img class="image" src="https://bulma.io/images/bulma-logo.png" alt="" width="96px"> -->
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start"><a class="navbar-item" href="#"> Home </a></div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="mb-6 pb-3 columns is-multiline">
          <div class="column is-12 is-6-desktop mx-auto has-text-centered">
            <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold"> Conferences </h2>
            <p class="subtitle has-text-grey mb-5"> Conferences are an integral part of scientific life and have an important role. Therefore, each member of the galactic society will have a chance to join online or offline conferences that the society will organize with astronauts, scientists, engineers, CEO, project and company leaders to invite as speakers. Conferences can be held on different topics and at different venues (Universities, Space Agencies). At the end, participants of the conference can receive postcards, certificates of participation or symbolic gifts signed by the speaker. The date, format, venue and other information of each conference will be communicated to the members of the society in advance by E-mail. You can also get information yourself by entering the “Conferences” Section for detailed information. Join us by getting a membership as soon as possible! </p>
            <div class="buttons is-centered">
              <a class="mr-3" href="#">
                <img src="../images/app-page/images/buttons/app-store.svg" alt=""></a>
              <a href="#">
                <img src="../images/app-page/images/buttons/google-play.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: black;">
      <div class="container">
        <div class="is-vcentered columns is-multiline">
          <div class="column is-6 is-5-desktop mb-4">
            <span class="has-text-white"> The Galactic Society Conferences </span>
            <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold"> Register For Conferences </h2>
            <p class="has-text-white"> Hurry to meet and get advice from successful people in business </p>
          </div>
          <div class="column is-5 ml-auto">
            <div class="mx-auto box p-6 has-background-light has-text-centered">
              <h4 class="is-size-5 mb-2 has-text-weight-bold"> Register </h4>
              <p class="has-text-grey-dark mb-4"> Our employees will contact you within 24 hours after registration </p>
              <form action="#">
                <input class="input mb-3" type="email" placeholder=" Name ">
                <input class="input mb-3" type="email" placeholder=" Surname ">
                <input class="input mb-3" type="email" placeholder=" Phone Number ">
                <input class="input mb-3" type="email" placeholder=" E-Mail ">

                
                <button class="button is-primary is-fullwidth" type="submit" style="margin-bottom: 0 !important; margin-top: 15px !important;"> Send 🚀 </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>