<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/galaxymeetingusa">
</head>

<body>
    <section class="hero is-info is-fullheight" style="background-color: black;">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <!-- <img src="../static/photos/logowhite.png" height="190px" alt="Logo"> -->
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Galaxy Metting Soon
                        </h1>
                        <br>
                        <h2 class="subtitle">
                            In January 2026, the galactic society will attract a selected group of individuals with special activity, benefiting from at least 80 percent of the services offered and having the longest-term membership, to the United States, taking them to the excursion and internship program. All expenses will be covered by the budget of the society. After registration, the activity of each member is specially controlled by the society. The main role here is played by the fact that the member uses most of the services offered and, most importantly, differs in the time of use. Also, each member can see the extent of their activity by entering the “Galaxy meeting USA” section of the platform. 
                        </h2>
                    </div>
                </div>
            </div>

    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>