<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Galactic Society</title>
    <meta name="description" content="Your page description here" />
    <meta name="keywords" content="Your meta keywords, here" />
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" />
    <script type="text/javascript" src="../static/js/modernizr.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script>
        function toggleMenu() {
    var menu = document.querySelector('.burger-menu-list');
    menu.style.display = (menu.style.display === 'none') ? 'block' : 'none';
  }
    </script>
</head>

<body style="background: url(../static/photos/bg1.jpg);">
    <div id="particles-js"></div>
    <div class="wrap">
        <div class="burger-menu" onclick="toggleMenu()">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
        <div id="main">
            <div class="IndexTopMenu" style="z-index: 999;">
                <a href="/Scholarships" class="Button SAC my-index-button"> Scholarships </a>
                <a href="/MembershipCard" class="ButtonT my-index-button"> Membership Card </a>
                <a href="/GalaxyMeetingUSA" class="ButtonT MOV my-index-button"> Galaxy Meeting USA </a>
                <a href="/SpaceMuseum" class="ButtonT PM my-index-button"> Space Museum </a>
            </div>

            <div class="IndexLeftPanel">
                    <a href="/AstroEducation" class="Button CBC my-index-button"> Astronomy Education </a>
                    <a href="/Conferences" class="Button CBC my-index-button"> Conferences </a>
                    <a href="/Excursion" class="Button SBT my-index-button"> Excursions </a>
                    <a href="/SpaceMagazine" class="Button SBN my-index-button"> Space Magazine </a>
                    <a href="/Astro-Courses" class="Button Courses my-index-button"> Astro Courses</a>
                    <a href="/MovieNights" class="Button MOV my-index-button"> Movie Nights</a>
                    <a href="/Events" class="Button MOV my-index-button"> Events </a>
                    <a href="/CareerDev" class="Button my-index-button" > Career Development </a>
                    <a href="/AdvocateService" class="Button SBS my-index-button" > Advocate Service </a>
            </div>

            <div class="IndexRightPanel">
                <a href="/GalacticFamily" class="Button SBA my-index-button"> Intellectual Games </a>
                <a href="/ScientificArticles" class="Button SBA my-index-button"> Scientific Articles </a>
                <a href="/Competitions" class="Button SBC my-index-button"> Competitions </a>
                <a href="/Certificates" class="Button SER my-index-button"> Certificates </a>
                <a href="/SpaceVolunteers" class="Button SET my-index-button"> Space Volunteers </a>
                <a href="/SpaceArt" class="Button SBS my-index-button"> Space Art </a>
                <a href="/InternationalProjects" class="Button SBS my-index-button" > International Projects </a>
                <a href="/SpaceLibrary" class="Button SBS my-index-button" > Space Library </a>
                <a href="/DiscussionPanel" class="Button SBS my-index-button"  > Discussion Panel </a>
            </div>

            <div class="inner fade-in">
                
                <header class="site-header" style="margin-bottom:  -100px;">
                    <h1 class="site-title"><img src="../static/photos/gs.logo2.PNG" width="300" height="200" alt="logo" /></h1>
                </header>

                <section class="content">

                    <h1 class="main-phrase">WELCOME <br> GALACTIC SOCIETY</h1>
                    <p class="subtitle">Follow Us:</p>
                   
                    <div class="social">
                        <a href="#"><span class="fa fa-facebook" title="Facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter" title="Twitter"></span></a>
                        <a href="#"><span class="fa fa-instagram" title="Instagram"></span></a>
                        <a href="#"><span class="fa fa-linkedin" title="Google Plus"></span></a>
                    </div>
                    <div class="modal-toggle">
                        <a href="#" id="modal-open" class="button-about">
					About Us</a>
                    </div>

                </section>

            </div>
        </div>

        <div id="modal">
            <div class="inner">

                <div class="social">
                    <a href="#" id="modal-close"><span class="fa fa-times" title="Close"></span></a>
                </div>

                <section class="content">

                    <h1 class="section-title"> About Services </h1>

                    <div class="row">
                        <div class="one">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="one-third">
                            <h2><i class="fa fa-phone"></i> Phone</h2>
                            <p>Phone: 012 371 44 55<br />Mobile: +994 55 380 82 71</p>
                        </div>
                        <div class="one-third">
                            <h2><i class="fa fa-envelope-o"></i> Email</h2>
                            <p>theGalacticSociety1@gmail.com<br />spaceclub@ada.edu.az</p>
                        </div>
                        <div class="one-third">
                            <h2><i class="fa fa-map-marker"></i> Address</h2>
                            <p>Any random place</p>
                        </div>
                    </div>

                </section>

            </div>
        </div>

    </div>

    <div class="burger-menu-list" id="burgerMenuList">
        <!-- <div class="x-button"><b>X</b></div> -->
        <div class="section-list">
            <ul class="ul-list">
                <a href=""><li class="li-list">Scholarsips</li></a>
                <a href=""><li class="li-list">Membership Card</li></a>
                <a href=""><li class="li-list">Galaxy Meeting USA</li></a>
                <a href=""><li class="li-list">Space Museum</li></a>
                <a href=""><li class="li-list">Astronomy Education</li></a>
                <a href=""><li class="li-list">Conferences</li></a>
                <a href=""><li class="li-list">Excursions</li></a>
                <a href=""><li class="li-list">Space Magazine</li></a>
                <a href=""><li class="li-list">Astro Courses</li></a>
                <a href=""><li class="li-list">Movie Nights</li></a>
                <a href=""><li class="li-list">Events</li></a>
                <a href=""><li class="li-list">Career Development</li></a>
                <a href=""><li class="li-list">Career Development</li></a>
                <a href=""><li class="li-list">Intellectual Games</li></a>
                <a href=""><li class="li-list">Scientific Articles</li></a>
                <a href=""><li class="li-list">Competitions</li></a>
                <a href=""><li class="li-list">Certificates</li></a>
                <a href=""><li class="li-list">Space Volunteers</li></a>
                <a href=""><li class="li-list">Space Art</li></a>
                <a href=""><li class="li-list">International Projects</li></a>
                <a href=""><li class="li-list">Space Library</li></a>
                <a href=""><li class="li-list">Discussion Panel</li></a>
            </ul>
        </div>
    </div>

    <div class="body-bg"></div>

    <div id="preload">
        <div id="preload-content">
            <div class="preload-spinner">
                <div class="loading-logo-wraper">
                    <img src="../static/photos/logo.png" alt="">
                </div>
                <div class="tp-loader spinner"></div>
            </div>
        </div>
    </div>

    <script src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/particles.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../static/js/plugins.js"></script>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
</body>

</html>